cn_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Chinese Name Recommendation Metadata Schema

  Draft 4 implementation notes:
  1. familyName is optional (minOccurs="0") so records such as Victor → 胜伟
     do not require an artificial Chinese surname.
  2. Dublin Core Terms are reused across namespaces with xs:import and ref=.
     The accompanying dcterms.xsd is a small, project-scoped validation profile
     that preserves the DCMI namespace while keeping validation reproducible.
  3. Schema.org and FOAF are RDF-oriented vocabularies rather than official XSD
     dependencies for this project. Their semantics inform locally declared
     elements such as familyName and givenName.
  4. Controlled values are enforced with xs:enumeration, while nationality uses
     the ISO 3166-1 alpha-2 lexical format [A-Z]{2}.
  5. ipa and repeatable hanziRadical elements add pronunciation and character-
     structure detail; radicals such as 火 and 木 can support a Five Elements
     naming rationale recorded through culturalElement.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://6wimu.github.io/615_ChineseName_Schema/"
           xmlns="https://6wimu.github.io/615_ChineseName_Schema/"
           xmlns:dcterms="http://purl.org/dc/terms/"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

  <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="dcterms.xsd"/>

  <xs:element name="ChineseNameDatabase">
    <xs:annotation>
      <xs:documentation>A database containing one or more Chinese-name recommendation records.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NameRecord" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dcterms:identifier" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>A unique identifier for the recommendation record.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="originalName" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The complete personal name before Chinese-name mapping.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="inLanguage" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The source language of the original name.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="English"/>
                    <xs:enumeration value="Korean"/>
                    <xs:enumeration value="Japanese"/>
                    <xs:enumeration value="Other"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="familyName" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The Chinese family-name component, omitted when the recommendation has no conventional surname.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="givenName" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The Chinese personal-name component; when familyName is absent, this stores the complete recommended personal name.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="fullChineseName" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The complete recommended Chinese name used for display and retrieval.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="pinyin" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The Mandarin pronunciation in Hanyu Pinyin with tone marks.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="ipa" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>An optional International Phonetic Alphabet transcription of the Mandarin pronunciation.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="nationality" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The applicant nationality in the two-uppercase-letter ISO 3166-1 alpha-2 lexical format.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[A-Z]{2}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="mappingType" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The principal strategy used to create or preserve the Chinese name.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Phonetic"/>
                    <xs:enumeration value="Semantic"/>
                    <xs:enumeration value="Localization"/>
                    <xs:enumeration value="HanjaSphere"/>
                    <xs:enumeration value="Phono-Semantic"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element ref="dcterms:description" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>The meaning of the selected characters and the rationale for the recommendation.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="hanziRadical" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>A repeatable radical for a key given-name character. Values such as 火 and 木 can make a Five Elements rationale explicit.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="pronunciationDifficulty" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                  <xs:documentation>An estimated Mandarin-pronunciation difficulty for a non-Chinese speaker.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Low"/>
                    <xs:enumeration value="Medium"/>
                    <xs:enumeration value="High"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="culturalElement" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>A repeatable controlled value for cultural or philosophical considerations used in the recommendation.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Zodiac"/>
                    <xs:enumeration value="FiveElements"/>
                    <xs:enumeration value="None"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
